<template>
  <div>
    <div class="col s12">
      <div
        v-on:click="imageClick(imageData)"
        v-for="imageData in imagesData"
        :key="imageData.Img.Timeid"
        class="card waves-effect waves-block waves-lig z-depth-3"
      >

      <div class="card-image">
                <img
              :src="`http://104.131.122.192:3001/display?op=thumbnail&w=140&h=140&path=${imageData.Img.Id}/original/${imageData.Img.Img_file_name}`"/> 
              <span class="card-title">{{imageData.Img.Name}} {{imageData.Img.Age}}v {{imageData.Img.City}}</span>
              
      </div>
      </div>
    </div>
    <br />
  </div>
</template>

<script>
export default {
  name: "Images",
  data() {
    return {};
  },
  props: {
    imagesData: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  mounted() {
    // this.$emit("firstTime", this.imageData);
  },

  methods: {
    imageClick: function(event) {
      // event.preventDefault();
      // this.$emit("firstTime", this.imageData);
      this.$emit("clickFromSelectDefaultImg", event);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
