<template>
  <div>
    <modal name="hello-world" height="500" width="500" :resizable="true">
      <img
        v-on:click="hide()"
        :src="`http://104.131.122.192:3001/display?op=thumbnail&w=1000&h=1000&path=${imageData.Img.Id}/original/${imageData.Img.Img_file_name}`"
        alt
        class="responsive-img z-depth-4"
      />
    </modal>

    <div class="row valign-wrapper">
      <div class="col">
        <img
          v-on:click="show()"
          :src="`http://104.131.122.192:3001/display?op=thumbnail&w=300&h=300&path=${imageData.Img.Id}/original/${imageData.Img.Img_file_name}`"
          alt
          class="responsive-img z-depth-4"
        />
      </div>
      <div class="col s7">
        <div class="card z-depth-4 red lighten-3">
          <div class="card-content">
            <i class="material-icons right">favorite_border</i>
            <i class="material-icons">phone_iphone</i>
            <div class="hide-on-small-only" id="bigphonechat">{{imageData.Img.Phone}}</div>
            <a
              class="hide-on-large-only"
              :href="`tel:${imageData.Img.Phone}`"
            >ph:{{imageData.Img.Phone}}</a>
            <div>{{imageData.Img.Name}} {{imageData.Img.Age}}v</div>
            <div>{{imageData.Img.City}}</div>
            <div>Kirjoita vesti.. {{imageData.Img.Name}} Odottaa!!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Modal from "@/components/Modal";

export default {
  name: "Selected",
  data: function() {
    return {
      isOpen: false
    };
  },
  props: {
    imageData: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  mounted() {
    // this.$emit("firstTime", this.imageData);
  },

  methods: {
    show() {
      this.$modal.show("hello-world");
    },
    hide() {
      this.$modal.hide("hello-world");
    }
  }
};
</script>

.bigphone {
    display: inline;
    color: red;
    text-shadow: 1px 1px 3px #000000;
    font-size: 400%;
    /* margin-top: -10px;
    margin-bottom: -31px; */
}

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
} */
a {
  color: blue;
  font-size: 200%;
}
</style>
