<template>
  <div id="app">
    <div class="container">
      <!-- <span class>Chatti.. Ilman rekisteröitymistä! Klikkaa tästä!</span> -->
      <div
        v-on:click="imageClick(imageData)"
        v-for="imageData in allimages"
        :key="imageData.Img.Timeid"
        class="hide-on-large-only"
      >
        <img
          class="circle responsive-img z-depth-2 mobhead"
          :src="`http://104.131.122.192:3001/display?op=thumbnail&w=50&h=50&path=${imageData.Img.Id}/original/${imageData.Img.Img_file_name}`"
        />
      </div>
      <div class="row">
        <div class="hide-on-small-only col s2">
          <div class="row">
            <div class="col s12">
              <Images
                :images-data="this.allimages"
                @clickFromSelectDefaultImg="clickFromSelectDefaultImg"
              ></Images>
            </div>
          </div>
        </div>
        <div class="col s12 l10">
          <div v-if="this.selected" class="row">
            <div class="col s12">
              <Selected :image-data="this.selected"></Selected>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <Chatmsg
                v-if="this.chatContent"
                @clickFromSelectDefaultImg="clickFromSelectDefaultImg"
                :chats-data="this.chatContent"
              ></Chatmsg>
            </div>
          </div>

          <div class="row" v-if="selected">
            <div class="input-field col s8">
              <input
                type="text"
                :placeholder="`Kirjoita .. ${selected.Img.Name} Odottaa!!`"
                v-model="newMsg"
                @keyup.enter="send"
              />
            </div>
            <div class="input-field col s4">
              <button class="waves-effect waves-light btn" @click="send">
                <i class="material-icons right">chat</i>
                Send
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Vue from "vue";

import Selected from "@/components/Selected";
import Images from "@/components/Images";
import Chatmsg from "@/components/Chatmsg";

import ReconnectingWebSocket from "reconnecting-websocket";

// import Toasted from "vue-toasted";
// import VueNativeSock from 'vue-native-websocket'
// Vue.use(Toasted);

export default {
  name: "app",
  components: {
    Selected,
    Images,
    Chatmsg
    // Modal
  },
  data() {
    return {
      nguid: "",
      // chatuuid: "",
      selected: null,
      newimg: null,
      allimages: [],
      ws: null, // Our websocket
      newMsg: "", // Holds new messages to be sent to the server
      chatContent: [],
      selectedContent: "",
      username: "mina" // Our username
      // joined: true // True if email and username have been filled in
    };
  },

  beforeMount() {
    this.nguid = this.getCookie("nguid7");
    if (typeof this.nguid === "undefined") {
      this.nguid = this.generateUUID();
      this.setCookie("nguid7", this.nguid, 900);
      this.firsttime = true;
    }
  },
  mounted() {
    // this.ws = new ReconnectingWebSocket(
    //   "ws://192.168.1.202:80/ws/" + this.nguid
    // );
    this.ws = new ReconnectingWebSocket("wss://chatfi.fi/ws/" + this.nguid);
    var self = this;

    this.ws.addEventListener("message", function(e) {
      var msg = JSON.parse(e.data);

      if (msg.type === "join") {
        if (self.allimages.length === 5) {
          self.allimages.pop();
          self.allimages.unshift(msg);
          self.chatContent.push(msg);
        } else if (self.allimages.length >= 5) {
          self.allimages.shift();
        } else {
          self.allimages.push(msg);
        }
      }
      if (msg.type === "newmsg") {
        self.deleteJoinMsg();

        if (msg.username !== "mina") {
          // self.$emit("newmsg", msg);
          setTimeout(function() {
            self.deleteJoinMsg();
            self.chatContent.push(msg);
          }, 10000);
        } else {
          self.chatContent.push(msg);
        }
      }
      if (msg.type === "selected") {
        self.selected = msg;
        self.selected.chatuuid = self.generateUUID();
      }
    });
  },
  methods: {
    deleteJoinMsg: function() {
      var self = this;
      var index = 0;
      this.chatContent.forEach(function(item) {
        if (item.type === "join") {
          self.chatContent.splice(index);
        }
        index++;
      });
    },
    clickFromSelectDefaultImg: function(event) {
      this.imageClick(event);
    },
    imageClick: function(event) {
      if (this.selected.Img.Id !== event.Img.Id) {
        this.selected.chatuuid = this.generateUUID();
        this.selected.Img = event.Img;
        this.$emit("imageData", this.selected);
      }
    },

    send: function() {
      if (this.newMsg != "") {
        this.ws.send(
          JSON.stringify({
            nguid: this.nguid,
            chatuuid: this.selected.chatuuid,
            type: "newmsg",
            username: this.username,
            message: this.newMsg,
            Img: {
              Id: this.selected.Img.Id,
              Name: this.selected.Img.Name,
              Age: this.selected.Img.Age,
              City: this.selected.Img.City,
              Img_file_name: this.selected.Img.Img_file_name
            }
          })
        );
        this.newMsg = ""; // Reset newMsg
      }
    },
    generateUUID() {
      let d = new Date().getTime();
      let uuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          let r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
        }
      );
      return uuid;
    },
    setCookie(cookieKey, cookieValue, expirationDays) {
      let expiryDate = "";

      if (expirationDays) {
        const date = new Date();

        date.setTime(
          `${date.getTime()}${expirationDays || 30 * 24 * 60 * 60 * 1000}`
        );

        expiryDate = `; expiryDate=" ${date.toUTCString()}`;
      }

      document.cookie = `${cookieKey}=${cookieValue ||
        ""}${expiryDate}; path=/`;
    },
    getCookie(cookieKey) {
      let cookieName = `${cookieKey}=`;

      let cookieArray = document.cookie.split(";");

      for (let cookie of cookieArray) {
        while (cookie.charAt(0) == " ") {
          cookie = cookie.substring(1, cookie.length);
        }

        if (cookie.indexOf(cookieName) == 0) {
          return cookie.substring(cookieName.length, cookie.length);
        }
      }
    }
  }
};
</script>

<style>
.mobhead {
  float: left;
  /* list-style: none; */
  /* width: 100%;
  height: 90px;
  margin: 0;
  padding: 0; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#app {
  font-family: "Indie Flower", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 20px;
}
</style>
